In [5]:
## Basic Syntax rule in python
## Case Sensitivity- Python is case sensitive

name="Shivam"
Name="Pathak"

print(name)
print(Name)

Shivam
Pathak

In [6]:
## Indentation

age = 32
if age>30:
    print("Adult")
print(age)

Adult
32

In [7]:
## This is single line is comment
print("hello world")

hello world

In [9]:
## line comtinuation

total=1+2+3+4+5+6+7+\
4+5+6

print(total)

43

In [10]:
## MUktiple statement on a single line
x=5.;y=5;z=x+y
print(z)

10.0

In [11]:
## understanding semamtic in python
## variable assigmnent

age =32
name="shivam"

In [ ]:
## Type inference
type(age)

int

In [13]:
type(name)

str

In [15]:
age =32
if age>30:
    print(age)

32

In [18]:
if True:
    print("correct explanation")
    if False:
        print("incorrect expalanation")
    print("this will print")
print("outside the indentation")

correct explanation
this will print
outside the indentation