In [1]:
a=100

In [4]:
age=32
height=6.1
name="krish"
is_student=True

print("age: ",age)
print("height: ",height)
print("name: ",name)

age:  32
height:  6.1
name:  krish

In [ ]:
## Nmaing Convension
## Variable name should be descriptive
## thsi shouls be start with an underscore , number, in between
## Vriables anmes are case sensitives

## valid variable name

first_name="Shivam"

In [ ]:
## invalid varibale name
## 2age=30
## first-name="Shivam"

In [5]:
name="shivam"
Name="pathak"

In [7]:
age =25
height=6.1
name="Shivam"
is_student=True

print(type(name))

<class 'str'>

In [9]:
## type checking and coversion

type(height)

float

In [13]:
age=25
print(type(age))
age_str=str(age)

print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [14]:
name="krish"
int(name)

ValueError: invalid literal for int() with base 10: 'krish'

In [15]:
height=6.11
type(height)

float

In [18]:
float(int(height))

6.0

In [23]:
## Dynamic typing

var=10
print(var,type(var))

var="hello"
print(var,type(var))
var=1.45
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
1.45 <class 'float'>

In [26]:
## input

age=int(input("what is the age"))
print(age,type(age))

23 <class 'int'>

In [27]:
num1=float(input("enter the first number"))
num2=float(input("enter the second number"))

sum=num1+num2
difference=num1-num2
multiplication=num1*num2
division=num1/num2

print("sum: ",sum)
print("difference: ",difference)
print("multiplication: ",multiplication)
print("division: ",division)

sum:  57.0
difference:  -11.0
multiplication:  782.0
division:  0.6764705882352942